<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.LendAndReturn.LifeSpanTracker.mapper.LifeSpanMaterialMapper">
    <select id="selectByKeyword" resultType="com.example.LendAndReturn.LifeSpanTracker.entity.LifeSpanMaterial">
        SELECT * FROM tb_material
        WHERE material_name LIKE CONCAT('%', #{keyword}, '%')
    </select>
</mapper>